<div id="wrap">
<header id="header">
	<div className="header_wrap">
		<h1 id="logo"><a href="/main/"><img src="/main/img/layout/logo.png" alt="건축공간연구원"></a></h1>

		<div id="hnb">
			<ul className="hnb2">

				<li className="lang">
					<a href="/main" className="active">KO <span className="hidden">국문 사이트</span></a>
					<a href="http://eng.auri.re.kr/eng/" title="새창열림" target="_blank">EN <span className="hidden">영문
							사이트</span></a>
				</li>
			</ul>
		</div>


		<div id="quick">
			<a href="" className="control open"><span>QUICK LINK</span></a>
			<div className="group">
				<article className="item">
					<h2 className="title search_tit">
						<strong>통합검색</strong>
					</h2>
					<form id="searchForm" name="searchForm" action="/aivorySearch.es?mid=a10605000000"
						method="post">
						<div id="placeholder_search" className="search_box">
							<label for="search_txt" className="">검색어를 입력해주세요</label>
							<input id="search_txt" name="allKeyWord" type="text" title="통합검색">
							<button type="submit" onclick="document.searchForm.submit(); return false;"><i
									className="xi-search"></i><span className="hidden">검색</span></button>
						</div>
						<div>
							<input type="hidden" name="_csrf" value="9c9fcad8-6969-4fee-b763-a8986094653d" />
						</div>
					</form>
					<h2 className="title">
						<strong>빠른링크서비스</strong>
					</h2>
					<div className="link">
						<a href="#">주요 업무 담당자</a>
						<a href="#">채용정보</a>
					</div>
					<ul className="list">
						<li>
							<a href="http://www.hanokdb.kr/" target="_blank">
								국가한옥센터
								<i className="xi-angle-right-min"></i>
							</a>
						</li>
						<li>
							<a href="http://www.aurum.re.kr/" target="_blank">
								건축&middot;도시정책정보센터
								<i className="xi-angle-right-min"></i>
							</a>
						</li>
						<li>
							<a href="http://www.npbc.or.kr/" target="_blank">
								국가공공건축지원센터
								<i className="xi-angle-right-min"></i>
							</a>
						</li>
						<li>
							<a href="http://armc.auri.re.kr/" target="_blank">
								건축규제모니터링센터
								<i className="xi-angle-right-min"></i>
							</a>
						</li>

						<li>
							<a href="https://blog.naver.com/buildingagreement" target="_blank">
								건축협정지원센터
								<i className="xi-angle-right-min"></i>
							</a>
						</li>
					</ul>
				</article>
			</div>
			<a href="" className="control close">
				<i className="xi-angle-right"></i><span className="hidden">퀵메뉴 닫기</span>
			</a>
		</div>

		<nav id="gnb1">


			<ul id="head_menu" className="topmenu">
				<li className="lnb1 mnfirst">
					<a href="#">소개</a>
					<div className="submenu" style="display:none;">


						<div id="gnb_info">
							<strong>우리는 좋은 건축과<br> 도시공간을 만드는 정책을<br> 연구합니다.</strong>
						</div>
						<ul className="sub01">
							<li className="sub01 subfirst"><a href="#">auri는</a>
								<div>
									<ul className="lnb-detail">
										<li className="lnb-detail-item"><a href="#">설립목적 및
												기능</a></li>
										<li className="lnb-detail-item"><a href="#">연혁</a>
										</li>
									</ul>
								</div>
							</li>
							<li className="sub02"><a href="#">원장실</a>
								<div>
									<ul className="lnb-detail">
										<li className="lnb-detail-item"><a href="#">인사말</a>
										</li>
										<li className="lnb-detail-item"><a href="#">경영목표</a>
										</li>
										<li className="lnb-detail-item"><a href="#">역대소장</a>
										</li>
									</ul>
								</div>
							</li>
							<li className="sub03"><a href="#">조직도</a></li>
							<li className="sub04"><a href="#">홍보관</a>
								<div>
									<ul className="lnb-detail">
										<li className="lnb-detail-item"><a href="#">CI소개</a>
										</li>
										<li className="lnb-detail-item"><a href="#">브로슈어</a>
										</li>
										<li className="lnb-detail-item"><a href="#">홍보동영상</a>
										</li>
										<li className="lnb-detail-item"><a href="#">협약현황</a>
										</li>
									</ul>
								</div>
							</li>
							<li className="sub05 sublast"><a href="#">찾아오시는 길</a></li>
						</ul>


					</div>
				</li>
				<li className="lnb2">
					<a href="#">연구 분야</a>
					<div className="submenu" style="display:none;">

						<ul className="sub02">
							<li className="sub01 subfirst"><a href="#">연구사업개요</a>
								<div>
									<ul className="lnb-detail">
										<li className="lnb-detail-item"><a href="#">사업개요 및
												추진절차</a></li>
										<li className="lnb-detail-item"><a href="#">2020년
												연구사업 목표</a></li>
									</ul>
								</div>
							</li>
							<li className="sub02"><a href="#">건축연구</a>
								<div>
									<ul className="lnb-detail">
										<li className="lnb-detail-item"><a
												href="#">국가공공건축지원연구</a></li>
										<li className="lnb-detail-item"><a
												href="#">건축서비스산업지원연구</a></li>
									</ul>
								</div>
							</li>
							<li className="sub03"><a href="#">지역재생연구</a>
								<div>
									<ul className="lnb-detail">
										<li className="lnb-detail-item"><a href="#">마을재생연구</a>
										</li>
										<li className="lnb-detail-item"><a href="#">경관연구</a>
										</li>
									</ul>
								</div>
							</li>
							<li className="sub04"><a href="#">도시&middot;설계연구</a>
								<div>
									<ul className="lnb-detail">
										<li className="lnb-detail-item"><a href="#">고령친화정책연구</a>
										</li>
										<li className="lnb-detail-item"><a href="#">보행환경연구</a>
										</li>
										<li className="lnb-detail-item"><a href="#">범죄예방환경연구</a>
										</li>
									</ul>
								</div>
							</li>
							<li className="sub05"><a href="#">스마트&middot;녹색연구</a>
								<div>
									<ul className="lnb-detail">
										<li className="lnb-detail-item"><a
												href="#">건축도시정책정보연구</a></li>
										<li className="lnb-detail-item"><a href="#">녹색건축연구</a>
										</li>
									</ul>
								</div>
							</li>
							<li className="sub06 sublast"><a href="#">공간문화연구</a>
								<div>
									<ul className="lnb-detail">
										<li className="lnb-detail-item"><a href="#">국가한옥연구</a>
										</li>
										<li className="lnb-detail-item"><a href="#">건축문화자산연구</a>
										</li>
									</ul>
								</div>
							</li>
						</ul>


					</div>
				</li>
				<li className="lnb3">
					<a href="#">발간물</a>
					<div className="submenu" style="display:none;">

						<ul className="sub03">
							<li className="sub02 subfirst"><a href="#">연구보고서</a></li>
							<li className="sub03"><a href="#">auri brief</a></li>
							<li className="sub04"><a href="#">한옥정책브리프</a></li>
							<li className="sub05"><a href="#">건축도시정책동향</a></li>
							<li className="sub06"><a href="#">건축과 도시공간</a></li>
							<li className="sub07"><a href="#">단행본</a></li>
							<li className="sub08"><a href="#">인포그래픽스</a></li>
							<li className="sub09 sublast"><a href="#">자료구입안내</a></li>
						</ul>


					</div>
				</li>
				<li className="lnb4">
					<a href="#">소식</a>
					<div className="submenu" style="display:none;">

						<ul className="sub04">
							<li className="sub01 subfirst"><a href="#">auri 소식</a>
								<div>
									<ul className="lnb-detail">
										<li className="lnb-detail-item"><a href="#">공지사항</a>
										</li>
										<li className="lnb-detail-item"><a href="#">유관기관소식</a>
										</li>
										<li className="lnb-detail-item"><a href="#">보도자료</a>
										</li>
										<li className="lnb-detail-item"><a href="#">언론기사</a>
										</li>
									</ul>
								</div>
							</li>
							<li className="sub02"><a href="#">뉴스레터</a>
								<div>
									<ul className="lnb-detail">
										<li className="lnb-detail-item"><a href="#">뉴스레터</a>
										</li>
										<li className="lnb-detail-item"><a href="#">뉴스레터
												신청</a></li>
									</ul>
								</div>
							</li>
							<li className="sub03"><a href="#">채용안내</a>
								<div>
									<ul className="lnb-detail">
										<li className="lnb-detail-item"><a href="#">채용안내</a>
										</li>
										<li className="lnb-detail-item"><a href="#">채용정보</a>
										</li>
										<li className="lnb-detail-item"><a
												href="#">채용Q&amp;A</a></li>
									</ul>
								</div>
							</li>
							<li className="sub04 sublast"><a href="#">세미나/포럼</a></li>
						</ul>


					</div>
				</li>
				<li className="lnb5 mnlast">
					<a href="#">정보공개</a>
					<div className="submenu" style="display:none;">

						<ul className="sub05">
							<li className="sub01 subfirst"><a href="#">정보공개</a>
								<div>
									<ul className="lnb-detail">
										<li className="lnb-detail-item"><a href="#">정보공개제도
												안내</a></li>
										<li className="lnb-detail-item"><a href="#">사전정보공표</a>
										</li>
									</ul>
								</div>
							</li>
							<li className="sub02"><a href="#">공공데이터 개방</a>
								<div>
									<ul className="lnb-detail">
										<li className="lnb-detail-item"><a href="#">개요</a>
										</li>
										<li className="lnb-detail-item"><a href="#">개방
												공공데이터</a></li>
									</ul>
								</div>
							</li>
							<li className="sub04"><a href="#">윤리경영</a>
								<div>
									<ul className="lnb-detail">
										<li className="lnb-detail-item"><a href="#">윤리헌장</a>
										</li>
										<li className="lnb-detail-item"><a href="#">부패 임직원
												현황 공개</a></li>
										<li className="lnb-detail-item"><a href="#">친인척 채용
												인원 공개</a></li>
										<li className="lnb-detail-item"><a href="#">auri
												인권영향 평가</a></li>
									</ul>
								</div>
							</li>
							<li className="sub05"><a href="#">해외출장보고서</a></li>
							<li className="sub06"><a href="#">고객소리함(Q&amp;A)</a></li>
							<li className="sub07"><a href="#">연구제안</a></li>
							<li className="sub08 sublast"><a href="#">신고센터</a>
								<div>
									<ul className="lnb-detail">
										<li className="lnb-detail-item"><a href="#">클린신고센터</a>
										</li>
										<li className="lnb-detail-item"><a href="#">인권 및 갑질
												피해 신고센터</a></li>
									</ul>
								</div>
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</nav>

		<nav id="gnb2">
			<a href="" className="control open">열기</a>


			<ul id="head_menu_all" className="topmenu_all">
				<li className="lnb1 mnfirst">
					<a href="#">소개</a>
					<div className="submenu">
						<ul className="sub01">
							<li className="sub01 subfirst"><a href="#">auri는</a>
								<div>
									<ul className="lnb-detail">
										<li className="lnb-detail-item"><a href="#">설립목적 및
												기능</a></li>
										<li className="lnb-detail-item"><a href="#">연혁</a>
										</li>
									</ul>
								</div>
							</li>
							<li className="sub02"><a href="#">원장실</a>
								<div>
									<ul className="lnb-detail">
										<li className="lnb-detail-item"><a href="#">인사말</a>
										</li>
										<li className="lnb-detail-item"><a href="#">경영목표</a>
										</li>
										<li className="lnb-detail-item"><a href="#">역대소장</a>
										</li>
									</ul>
								</div>
							</li>
							<li className="sub03"><a href="#">조직도</a></li>
							<li className="sub04"><a href="#">홍보관</a>
								<div>
									<ul className="lnb-detail">
										<li className="lnb-detail-item"><a href="#">CI소개</a>
										</li>
										<li className="lnb-detail-item"><a href="#">브로슈어</a>
										</li>
										<li className="lnb-detail-item"><a href="#">홍보동영상</a>
										</li>
										<li className="lnb-detail-item"><a href="#">협약현황</a>
										</li>
									</ul>
								</div>
							</li>
							<li className="sub05 sublast"><a href="#">찾아오시는 길</a></li>
						</ul>
					</div>
				</li>
				<li className="lnb2">
					<a href="#">연구 분야</a>
					<div className="submenu">
						<ul className="sub02">
							<li className="sub01 subfirst"><a href="#">연구사업개요</a>
								<div>
									<ul className="lnb-detail">
										<li className="lnb-detail-item"><a href="#">사업개요 및
												추진절차</a></li>
										<li className="lnb-detail-item"><a href="#">2020년
												연구사업 목표</a></li>
									</ul>
								</div>
							</li>
							<li className="sub02"><a href="#">건축연구</a>
								<div>
									<ul className="lnb-detail">
										<li className="lnb-detail-item"><a
												href="#">국가공공건축지원연구</a></li>
										<li className="lnb-detail-item"><a
												href="#">건축서비스산업지원연구</a></li>
									</ul>
								</div>
							</li>
							<li className="sub03"><a href="#">지역재생연구</a>
								<div>
									<ul className="lnb-detail">
										<li className="lnb-detail-item"><a href="#">마을재생연구</a>
										</li>
										<li className="lnb-detail-item"><a href="#">경관연구</a>
										</li>
									</ul>
								</div>
							</li>
							<li className="sub04"><a href="#">도시&middot;설계연구</a>
								<div>
									<ul className="lnb-detail">
										<li className="lnb-detail-item"><a href="#">고령친화정책연구</a>
										</li>
										<li className="lnb-detail-item"><a href="#">보행환경연구</a>
										</li>
										<li className="lnb-detail-item"><a href="#">범죄예방환경연구</a>
										</li>
									</ul>
								</div>
							</li>
							<li className="sub05"><a href="#">스마트&middot;녹색연구</a>
								<div>
									<ul className="lnb-detail">
										<li className="lnb-detail-item"><a
												href="#">건축도시정책정보연구</a></li>
										<li className="lnb-detail-item"><a href="#">녹색건축연구</a>
										</li>
									</ul>
								</div>
							</li>
							<li className="sub06 sublast"><a href="#">공간문화연구</a>
								<div>
									<ul className="lnb-detail">
										<li className="lnb-detail-item"><a href="#">국가한옥연구</a>
										</li>
										<li className="lnb-detail-item"><a href="#">건축문화자산연구</a>
										</li>
									</ul>
								</div>
							</li>
						</ul>
					</div>
				</li>
				<li className="lnb3">
					<a href="#">발간물</a>
					<div className="submenu">
						<ul className="sub03">
							<li className="sub02 subfirst"><a href="#">연구보고서</a></li>
							<li className="sub03"><a href="#">auri brief</a></li>
							<li className="sub04"><a href="#">한옥정책브리프</a></li>
							<li className="sub05"><a href="#">건축도시정책동향</a></li>
							<li className="sub06"><a href="#">건축과 도시공간</a></li>
							<li className="sub07"><a href="#">단행본</a></li>
							<li className="sub08"><a href="#">인포그래픽스</a></li>
							<li className="sub09 sublast"><a href="#">자료구입안내</a></li>
						</ul>
					</div>
				</li>
				<li className="lnb4">
					<a href="#">소식</a>
					<div className="submenu">
						<ul className="sub04">
							<li className="sub01 subfirst"><a href="#">auri 소식</a>
								<div>
									<ul className="lnb-detail">
										<li className="lnb-detail-item"><a href="#">공지사항</a>
										</li>
										<li className="lnb-detail-item"><a href="#">유관기관소식</a>
										</li>
										<li className="lnb-detail-item"><a href="#">보도자료</a>
										</li>
										<li className="lnb-detail-item"><a href="#">언론기사</a>
										</li>
									</ul>
								</div>
							</li>
							<li className="sub02"><a href="#">뉴스레터</a>
								<div>
									<ul className="lnb-detail">
										<li className="lnb-detail-item"><a href="#">뉴스레터</a>
										</li>
										<li className="lnb-detail-item"><a href="#">뉴스레터
												신청</a></li>
									</ul>
								</div>
							</li>
							<li className="sub03"><a href="#">채용안내</a>
								<div>
									<ul className="lnb-detail">
										<li className="lnb-detail-item"><a href="#">채용안내</a>
										</li>
										<li className="lnb-detail-item"><a href="#">채용정보</a>
										</li>
										<li className="lnb-detail-item"><a
												href="#">채용Q&amp;A</a></li>
									</ul>
								</div>
							</li>
							<li className="sub04 sublast"><a href="#">세미나/포럼</a></li>
						</ul>
					</div>
				</li>
				<li className="lnb5 mnlast">
					<a href="#">정보공개</a>
					<div className="submenu">
						<ul className="sub05">
							<li className="sub01 subfirst"><a href="#">정보공개</a>
								<div>
									<ul className="lnb-detail">
										<li className="lnb-detail-item"><a href="#">정보공개제도
												안내</a></li>
										<li className="lnb-detail-item"><a href="#">사전정보공표</a>
										</li>
									</ul>
								</div>
							</li>
							<li className="sub02"><a href="#">공공데이터 개방</a>
								<div>
									<ul className="lnb-detail">
										<li className="lnb-detail-item"><a href="#">개요</a>
										</li>
										<li className="lnb-detail-item"><a href="#">개방
												공공데이터</a></li>
									</ul>
								</div>
							</li>
							<li className="sub04"><a href="#">윤리경영</a>
								<div>
									<ul className="lnb-detail">
										<li className="lnb-detail-item"><a href="#">윤리헌장</a>
										</li>
										<li className="lnb-detail-item"><a href="#">부패 임직원
												현황 공개</a></li>
										<li className="lnb-detail-item"><a href="#">친인척 채용
												인원 공개</a></li>
										<li className="lnb-detail-item"><a href="#">auri
												인권영향 평가</a></li>
									</ul>
								</div>
							</li>
							<li className="sub05"><a href="#">해외출장보고서</a></li>
							<li className="sub06"><a href="#">고객소리함(Q&amp;A)</a></li>
							<li className="sub07"><a href="#">연구제안</a></li>
							<li className="sub08 sublast"><a href="#">신고센터</a>
								<div>
									<ul className="lnb-detail">
										<li className="lnb-detail-item"><a href="#">클린신고센터</a>
										</li>
										<li className="lnb-detail-item"><a href="#">인권 및 갑질
												피해 신고센터</a></li>
									</ul>
								</div>
							</li>
						</ul>
					</div>
				</li>
			</ul>
			<a href="" className="control close">닫기</a>
		</nav>
	</div>
</header>
<main id="main">
	<div className="main_wrap clearfix">

		<!-- 메인비주얼 시작 -->
		<div id="visual">
			<div className="visual_line visual_line1"></div>
			<div className="visual_line visual_line2"></div>
			<div className="visual_line visual_line3"></div>
			<div className="visual_line visual_line4"></div>
			<div className="layout" data-aos="fade-right" data-aos-delay="800">
				<div className="desc">
					<strong>건축·도시공간의 미래를<br> 만들어가는 정책연구 싱크탱크</strong>
				</div>
			</div>
			<ul className="mvisual-slider">
				<li><img src="/upload/visual/a1/20201113160256508.jpg" alt="비주얼1" /></li>
				<li><img src="/upload/visual/a1/20201113160315998.jpg" alt="비주얼" /></li>
			</ul>
			<div className="mvisual-btn">
				<button type="button" className="slick-pause"><span className="hidden">정지</span><i
						className="xi-pause"></i></button>
				<button type="button" className="slick-play" style="display: none;"><span className="hidden">재생</span><i className="xi-play"></i></button>
			</div>

		</div>
		<!-- 메인비주얼 끝 -->
		<!-- 메인콘텐츠 시작 -->
		<div id="contents" tabindex="0">
			<div className="section section1">
				<p className="bg_txt">
					<svg xmlns="http://www.w3.org/2000/svg" width="248.85" height="280.47"
						viewBox="0 0 248.85 280.47">
						<defs>
						</defs>
						<path id="a" data-name="txt_a" className="txt_a"
							d="M145.86-275.4c-43.86,0-86.19,11.22-115.26,33.66l24.99,46.41c20.4-16.83,52.02-27.03,82.62-27.03,45.39,0,67.83,21.93,67.83,59.16v4.08H135.66c-82.62,0-113.22,35.7-113.22,81.09,0,47.43,39.27,81.6,101.49,81.6,40.8,0,70.38-13.26,85.68-36.72V0h60.18V-159.63C269.79-238.17,224.4-275.4,145.86-275.4ZM137.19-42.84c-32.64,0-52.02-14.79-52.02-37.74,0-19.89,11.73-36.21,55.08-36.21h65.79v31.62C195.33-57.12,168.3-42.84,137.19-42.84Z"
							transform="translate(-21.69 276.15)"></path>
					</svg>
				</p>
				<div className="layout">
					<!-- 소식 시작 -->
					<div id="news" data-aos="fade-up">
						<h2 className="article_tit">소식</h2>

						<div className="news_slider">

							<div className="board">
								<h3 className="news_cate">채용정보</h3>
								<a href="/board.es?mid=a10403020000&bid=0011&list_no=2755&act=view">
									<strong className="news_tit">
										건축공간연구원 정규직(부연구위원) 모집
									</strong>
									<span className="news_date">2020.11.27</span>
									<p className="news_txt">
										▷ 채용공고 및 입사지원 홈페이지 바로가기
									</p>
								</a>
							</div>
							<div className="board">
								<h3 className="news_cate">언론기사</h3>
								<a href="/board.es?mid=a10401040000&bid=0014&list_no=2748&act=view">
									<strong className="news_tit">
										위법건축물 양성화법 놓고 전문가들 찬반 의견 분분(2020.11.25...
									</strong>
									<span className="news_date">2020.11.26</span>
									<p className="news_txt">
										기 사 명 : 위법건축물 양성화법 놓고 전문가들 찬반 의견 분분 주요내용 : 임유경 연구위원, '특정건축물 정리에 관한
										특별조치법안' 제정 위한 공청회 참여 언론사명 :..
									</p>
								</a>
							</div>
							<div className="board">
								<h3 className="news_cate">채용정보</h3>
								<a href="/board.es?mid=a10403020000&bid=0011&list_no=2742&act=view">
									<strong className="news_tit">
										건축공간연구원 위촉연구원 모집
									</strong>
									<span className="news_date">2020.11.24</span>
									<p className="news_txt">
										▷ 채용공고 및 입사지원 홈페이지 바로가기
									</p>
								</a>
							</div>
							<div className="board">
								<h3 className="news_cate">공지사항</h3>
								<a href="/board.es?mid=a10401010000&bid=0001&list_no=2738&act=view">
									<strong className="news_tit">
										공공기관 고객만족도 조사 관련 개인 정보 제공 알림
									</strong>
									<span className="news_date">2020.11.20</span>
									<p className="news_txt">
										건축공간연구원은 정보주체의 동의, 법률의 특별한 규정 등 ｢개인정보보호법｣ 제17조 및 제18조에 의거하여, 아래와 같이 개인
										정보를 제공합니다. ○ 법적근거: ｢개..
									</p>
								</a>
							</div>
							<div className="board">
								<h3 className="news_cate">언론기사</h3>
								<a href="/board.es?mid=a10401040000&bid=0014&list_no=2741&act=view">
									<strong className="news_tit">
										건축공간연구원 개원..."코로나시대 안전-문화 도시"(2020.11.20..
									</strong>
									<span className="news_date">2020.11.20</span>
									<p className="news_txt">
										기 사 명 : 건축공간연구원 개원..."코로나시대 안전-문화 도시" 주요내용 : 박소현 원장, 건축공간연구원 개원식 인사말 전해
										언론사명 : BBS 외 보도일자 : 2020.11.2..
									</p>
								</a>
							</div>
							<div className="board">
								<h3 className="news_cate">공지사항</h3>
								<a href="/board.es?mid=a10401010000&bid=0001&list_no=2671&act=view">
									<strong className="news_tit">
										2021~2022년도 건축공간연구원 인쇄업체 등록공고
									</strong>
									<span className="news_date">2020.11.03</span>
									<p className="news_txt">
										2021~2022년도 건축공간연구원 인쇄업체 등록공고 건축공간연구원에서 발주하는 출판인쇄(경인쇄, 옵셋)물에 대한 인쇄업체 등록을
										다음과 같이 공고합니다. 1. 공고명 ..
									</p>
								</a>
							</div>
						</div>
						<div className="news-btn">
							<button type="button" className="slick-pause"><span className="hidden">정지</span><i
									className="xi-pause"></i></button>
							<button type="button" className="slick-play" style="display: none;"><span
									className="hidden">재생</span><i className="xi-play"></i></button>
						</div>

						<a href="#" className="more"><i className="xi-plus-thin"></i><span
								className="hidden">소식 더보기</span></a>
					</div>
					<!-- 소식 끝 -->
					<!-- 팝업존 시작 -->
					<div id="popupzone" data-aos="fade-up" data-aos-delay="200">
						<h2 className="article_tit">팝업존</h2>

						<ul className="popupzone-slider">

							<li><a href="https://www.auri.re.kr/board.es?mid=a10403020000&amp;bid=0011&amp;act=view&amp;list_no=2755&amp;tag=&amp;nPage=1"
									target="_self"><img src="/upload/popupzone/a1/20201127102218273.jpg"
										onerror="this.src='/error/img/noimage.jpg'" alt="건축공간연구원 정규직 모집" /></a>
							</li>

							<li><a href="https://www.auri.re.kr/board.es?mid=a10403020000&amp;bid=0011&amp;act=view&amp;list_no=2742&amp;tag=&amp;nPage=1"
									target="_self"><img src="/upload/popupzone/a1/20201124153624825.jpg"
										onerror="this.src='/error/img/noimage.jpg'" alt="건축공간연구원 위촉연구원 모집" /></a>
							</li>

							<li><a href="https://www.auri.re.kr/gallery.es?mid=a10404000000&amp;bid=0002&amp;b_list=12&amp;act=view&amp;list_no=993&amp;nPage=1&amp;vlist_no_npage=0&amp;keyField=&amp;orderby="
									target="_blank" title="새창" rel="noopener"><img
										src="/upload/popupzone/a1/20201119192414877.png"
										onerror="this.src='/error/img/noimage.jpg'" alt="개원식" /></a></li>

							<li><a href="https://www.auri.re.kr/board.es?mid=a10401020000&amp;bid=0012&amp;act=view&amp;list_no=1033&amp;tag=&amp;nPage=1"
									target="_blank" title="새창" rel="noopener"><img
										src="/upload/popupzone/a1/20201119192514400.png"
										onerror="this.src='/error/img/noimage.jpg'" alt="- 스마트시티 카카오톡 채널 추가" /></a>
							</li>

							<li><a href="http://www.smart-navigation.org/html/Index_New/" target="_blank" title="새창"
									rel="noopener"><img src="/upload/popupzone/a1/20201113160441267.png"
										onerror="this.src='/error/img/noimage.jpg'"
										alt="한국형 e-Navigation 사업단" /></a></li>

						</ul>
						<div className="pagingInfo"><span>1</span><i>/</i>3</div>
						<div className="popupzone-btn">
							<button type="button" className="slick-pause"><span className="hidden">정지</span><i
									className="xi-pause"></i></button>
							<button type="button" className="slick-play" style="display: none;"><span
									className="hidden">재생</span><i className="xi-play"></i></button>
						</div>
					</div>
					<!-- 팝업존 끝 -->
				</div>
			</div>
			<div className="section section2" data-aos="fade-left" data-aos-delay="200">
				<p className="bg_txt">
					<svg xmlns="http://www.w3.org/2000/svg" width="242.202" height="251.442"
						viewBox="0 0 242.202 251.442">
						<defs></defs>
						<path id="u" data-name="txt_u" className="txt_u"
							d="M218.988-246.708v124.74c0,49.434-27.258,74.382-67.452,74.382-36.5,0-57.75-21.252-57.75-66.066V-246.708H36.036V-105.8C36.036-31.416,79,3.234,142.3,3.234c31.878,0,60.984-12.012,79.464-34.65V0h54.978V-246.708Z"
							transform="translate(-35.286 247.458)"></path>
					</svg>
				</p>
				<div className="layout">
					<!-- auri Highlight 시작 -->
					<div id="highlight">
						<h2 className="article_tit" data-aos="fade-up" data-aos-delay="600"><b className="red">auri</b>
							HIGHLIGHT</h2>
						<ul className="clearfix">
							<li data-aos="fade-up" data-aos-delay="800">
								<a
									href="https://wwwnew.auri.re.kr/gallery.es?mid=a10308000000&amp;bid=0006&amp;b_list=12&amp;act=view&amp;list_no=872&amp;nPage=">
									<span className="img_wrap">
										<img src="/upload/highlight/160576243491600.png" alt="카드뉴스">
									</span>
									<strong className="highlight_tit">카드뉴스</strong>
								</a>
							</li>
							<li data-aos="fade-up" data-aos-delay="1000">
								<a
									href="https://wwwnew.auri.re.kr/gallery.es?mid=a10306000000&amp;bid=0004&amp;b_list=12&amp;act=view&amp;list_no=714&amp;nPage=">
									<span className="img_wrap">
										<img src="/upload/highlight/160576230952900.png" alt="정기간행물">
									</span>
									<strong className="highlight_tit">정기간행물</strong>
								</a>
							</li>
							<li data-aos="fade-up" data-aos-delay="1200">
								<a
									href="https://wwwnew.auri.re.kr/gallery.es?mid=a10308000000&amp;bid=0006&amp;b_list=12&amp;act=view&amp;list_no=870&amp;nPage=">
									<span className="img_wrap">
										<img src="/upload/highlight/160576238828800.jpg" alt="auriTV">
									</span>
									<strong className="highlight_tit">auriTV</strong>
								</a>
							</li>
						</ul>
						<a href="#" className="more" data-aos="fade-left"
							data-aos-delay="1000"><span className="hidden">auri highlight 더보기</span></a>
					</div>
					<!-- auri Highlight 끝 -->
				</div>
			</div>
			<div className="section section3">
				<div className="layout">
					<div id="report">
						<h2 className="article_tit" data-aos="fade-up">REPORT</h2>
						<ul data-aos="fade-up" data-aos-delay="200">
							<li>
								<a href="/gallery.es?mid=a10305000000&bid=0003&list_no=684&act=view">
									<span className="date"><b>01</b>2020.11</span>
									<span className="cate">건축도시정책동향</span>
									2020년 10월 건축도시정책동향(통권 64호)
									<!-- <span className="author"></span> -->
								</a>
							</li>
							<li>
								<a href="/gallery.es?mid=a10303000000&bid=0011&list_no=562&act=view">
									<span className="date"><b>15</b>2020.10</span>
									<span className="cate">auri brief</span>
									스마트시티 통합플랫폼 기반구축사업 성과관리체계 구축 방안
									<!-- <span className="author"></span> -->
								</a>
							</li>
							<li>
								<a href="/gallery.es?mid=a10305000000&bid=0003&list_no=683&act=view">
									<span className="date"><b>01</b>2020.10</span>
									<span className="cate">건축도시정책동향</span>
									2020년 9월 건축도시정책동향(통권 63호)
									<!-- <span className="author"></span> -->
								</a>
							</li>
							<li>
								<a href="/gallery.es?mid=a10303000000&bid=0011&list_no=561&act=view">
									<span className="date"><b>30</b>2020.09</span>
									<span className="cate">auri brief</span>
									지역개발사업의 체계적 디자인 관리를 위한 디자인 관리도구(PDA..
									<!-- <span className="author"></span> -->
								</a>
							</li>
							<li>
								<a href="/gallery.es?mid=a10306000000&bid=0004&list_no=714&act=view">
									<span className="date"><b>30</b>2020.09</span>
									<span className="cate">건축과 도시공간</span>
									공공건축 기획 업무 법제화 의미와 과제
									<!-- <span className="author"></span> -->
								</a>
							</li>
							<li>
								<a href="/gallery.es?mid=a10307000000&bid=0005&list_no=813&act=view">
									<span className="date"><b>15</b>2020.09</span>
									<span className="cate">단행본</span>
									경상북도 한옥현황 및 통계
									<!-- <span className="author"></span> -->
								</a>
							</li>
						</ul>
						<a href="#" className="more" data-aos="fade-right"
							data-aos-delay="600"><i className="xi-plus-thin"></i><span className="hidden">report
								더보기</span></a>
					</div>
				</div>
			</div>
			<div className="section section4" data-aos="fade-up">
				<p className="bg_txt">
					<svg xmlns="http://www.w3.org/2000/svg" width="156" height="271.5" viewBox="0 0 156 271.5">
						<defs></defs>
						<path id="r" data-name="txt_r" className="txt_r"
							d="M100.5-228v-39H41V0h62.5V-129.5c0-54.5,30-82.5,77.5-82.5a79.344,79.344,0,0,1,14.5,1.5V-270C151-270,118.5-256,100.5-228Z"
							transform="translate(-40.25 270.75)"></path>
					</svg>
				</p>
				<div className="layout" data-aos="fade-left">
					<b className="en_tit">more than tomorrow</b>
					<h2 className="article_tit"><b className="line">new</b>auri</h2>
					<p className="article_txt" data-aos="fade-right" data-aos-delay="300">건축도시공간연구소가<br> 건축공간연구원으로
						새롭게 시작합니다</p>
				</div>
			</div>
			<div className="section section5">
				<p className="bg_txt">
					<svg xmlns="http://www.w3.org/2000/svg" width="65.5" height="310.3" viewBox="0 0 65.5 310.3">
						<defs></defs>
						<path id="i" data-name="txt_i" className="txt_i"
							d="M58-248.8c18.8,0,32-13.6,32-31.2,0-16.4-13.6-28.8-32-28.8s-32,13.2-32,30S39.6-248.8,58-248.8ZM32.8,0h50V-213.6h-50Z"
							transform="translate(-25.25 309.55)"></path>
					</svg>
				</p>
				<div className="layout">
					<div className="text_wrap">
						<h2 className="article_tit" data-aos="fade-up">참여공간 : 空間</h2>
						<p className="article_txt" data-aos="fade-up" data-aos-delay="300">
							건축공간연구원은<br> 건축과 도시공간의 미래를<br> 여러분과 함께 만들어갑니다.
						</p>
					</div>
					<div className="link_wrap">
						<div className="col_box box1" data-aos="fade-up" data-aos-delay="600">
							<div className="img_wrap"><a href="#"><span>뉴스레터</span></a>
							</div>
						</div>
						<div className="col_box box2" data-aos="fade-down" data-aos-delay="800">
							<div className="img_wrap"><a href="#"><span>자료구입안내</span></a>
							</div>
						</div>
						<div className="col_box box3" data-aos="fade-up" data-aos-delay="1000">
							<div className="img_wrap"><a href="#"><span>세미나/포럼</span></a>
							</div>
						</div>
						<div className="col_box box4">
							<div className="img_wrap iw1" data-aos="fade-right" data-aos-delay="1200"><a
									href="#"><span>연구제안</span></a></div>
							<div className="img_wrap iw2" data-aos="fade-right" data-aos-delay="1300"><a
									href="#"><span>채용안내</span></a></div>
						</div>
					</div>
				</div>
			</div>
			<div className="section section6">
				<div className="cursor" style="right: initial; left:0;"></div>
				<div className="typing_wrap">
					<div className="inner">
						<h2 className="typing">행복한 삶터가 시작되는 곳, 건축공간연구원 입니다.</h2>
					</div>
				</div>
				<ul className="link_wrap">
					<li>
						<a href="http://www.npbc.or.kr/" target="_blank">
							<i className="icon icon1">
								<img src="/main/img/main/section6_icon01.png" alt="">
							</i>
							국가공공건축지원센터
						</a>
					</li>
					<li>
						<a href="http://www.hanokdb.kr/" target="_blank">
							<i className="icon icon2">
								<img src="/main/img/main/section6_icon02.png" alt="">
							</i>
							국가한옥센터
						</a>
					</li>
					<li>
						<a href="http://www.aurum.re.kr/" target="_blank">
							<i className="icon icon3">
								<img src="/main/img/main/section6_icon03.png" alt="">
							</i>
							건축.도시정책정보센터
						</a>
					</li>
					<li>
						<a href="http://armc.auri.re.kr/" target="_blank">
							<i className="icon icon4">
								<img src="/main/img/main/section6_icon04.png" alt="">
							</i>
							건축규제모니터링센터
						</a>
					</li>
					<li>
						<a href="https://blog.naver.com/buildingagreement" target="_blank">
							<i className="icon icon5">
								<img src="/main/img/main/section6_icon05.png" alt="">
							</i>
							건축협정지원센터
						</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- 메인 콘텐츠 끝 -->
	</div>
</main>
<footer id="footer">
	<div className="footer_wrap">
		<div className="related">
			<div className="group group1">
				<a href="" className="label">관련사이트</a>
				<ul className="list">
					<li><a href="http://www.nrc.re.kr/" target="_blank" title="새창">경제&middot;인문사회연구회</a></li>
					<li><a href="http://www.krihs.re.kr/" target="_blank" title="새창">국토연구원</a></li>
					<li><a href="https://www.nkis.re.kr:4445/main.do" target="_blank" title="새창">NKIS국가정책연구포털</a></li>
					<li><a href="https://www.gov.kr/portal/main" target="_blank" title="새창">정부24</a></li>
					<li><a href="http://www.auric.or.kr/" target="_blank" title="새창">AURIC</a></li>
				</ul>
			</div>
		</div>
		<div className="foot_sns">
			<ul>
				<li><a href="https://www.facebook.com/auriinfo" title="새창열림" target="_blank"><img src="/main/img/layout/foot_sns01.png" alt="페이스북" /></a></li>
				<li><a href="https://www.youtube.com/c/auriTV" title="새창열림" target="_blank"><img src="/main/img/layout/foot_sns02.png" alt="유튜브" /></a></li>
				<li><a href="https://tv.naver.com/auri" title="새창열림" target="_blank"><img src="/main/img/layout/foot_sns03.png" alt="네이버 TV" /></a></li>
				<li><a href="https://post.naver.com/my.nhn?memberNo=36732719" title="새창열림" target="_blank"><img src="/main/img/layout/foot_sns04.png" alt="네이버 포스트" /></a></li>
			</ul>
		</div>

		<div id="siteinfo">
			<div id="fnb">
				<ul className="fnb1">
					<li><a href="#">개인정보 처리방침</a></li>
					<li><a href="#">저작권정책</a></li>
					<li><a href="#">이메일무단수집거부</a></li>
					<li><a href="#">웹접근성고지</a></li>
					<li><a href="http://gw.auri.re.kr/" target="_blank">인트라넷</a></li>
					<li><a href="http://library.auri.re.kr/" target="_blank">전자도서관</a></li>
				</ul>
			</div>
			<a href="#" className="logo"><img src="/main/img/layout/logo_f.png" alt="템플릿1 국문"></a>
			<address>30103, 세종특별자치시 절재로 194, 701호 건축공간연구원<span>tel. 044-417-9600 / fax. 044-417-9608 /</span>
			</address>
			<p className="copyright">Copyright ⓒ Architecture & Urban Research Institute. All rights reserved.</p>
		</div>

	</div>
</footer>
</div>

