@charset "UTF-8";
@import "default";
@import "layout";
@import "layoutmedia";

/*
유튜브 팝업 추가 

#youtube_popup{ display: block; position: fixed; z-index: 10; top: 10rem; left: 5rem; width: 60rem; height: 45rem; background-color: #fff; padding: 2rem; box-shadow: 0 0 1rem rgba(0,0,0,0.3); }
#youtube_popup strong{ display: block; font-size: 2rem; font-weight: 500; letter-spacing: -1px; color: #000; margin-bottom: 1rem; }
#youtube_popup .close{ position: absolute; right: 2rem; bottom: 2rem; }

@media(max-width: 1279px){
  #youtube_popup iframe{ width: 56rem; height: 32rem; }
}

@media(max-width: 639px){
    #youtube_popup{ width: 30rem; height: 30rem; }
    #youtube_popup iframe{ width: 26rem; height: 14rem; }
}
*/

#header{ position: absolute; width: 100%; }
#header{ position: fixed; }
#header.fixed #gnb1:before,
#header.active #gnb1:before{ background-color: #fff; }
#gnb1:before{ background-color: transparent; }
#gnb2 .control{ color: #fff; }
#hnb .lang a{ color: #fff; }
#hnb .lang a:first-child{ color: #E61C22; }
#header.fixed #hnb .lang a,
#header.active #hnb .lang a{ color: #A0A0A0; }
#header.fixed #hnb .lang a:first-child,
#header.active #hnb .lang a:first-child{ color: #E61C22; }
#hnb .lang a:first-child:after{ background-color: #fff; opacity: 0.2; }
#footer .btn_top{ display: none; }
#header.fixed #hnb .lang a:first-child:after,
#header.active #hnb .lang a:first-child:after{ background-color: #000; }
#main { position: relative; z-index: 0; }
#contents{ float: none; width: 100%; margin-bottom: 0; }

#visual{ position: relative; height: 0; overflow: hidden; padding-bottom: 50%; transform: scale(1.2); -webkit-transform: scale(1.2); transition : all 1s; -webkit-transition : all 1s; }
#visual.on{ transform: scale(1); -webkit-transform: scale(1); }
#visual .layout{ position: absolute; top: 50%; left: 0; z-index: 1; width: 100%; margin-top: -15rem; text-align: center; }
#visual .desc{ width: 140rem; margin: 0 auto; text-align: left; border-left: 4px solid #E10A17; padding-left: 4.4rem; }
#visual .visual_line{ position: absolute; z-index: 1; top: 0; left: 50%; display: inline-block; width: 1px; height: 100%; background-color: rgba(255,255,255,0.2); transition : all 1s; -webkit-transition : all 1s; }
#visual.on .visual_line1{ margin-left: -70rem; }
#visual.on .visual_line2{ margin-left: -23.3rem; }
#visual.on .visual_line3{ margin-left: 23.3rem; }
#visual.on .visual_line4{ margin-left: 70rem; }
#visual .desc strong{ font-family: 'nfk'; font-size: 5.5rem; font-weight: 400; color: #0F0F0F; line-height: 7.6rem; letter-spacing: -0.55rem; }
#visual .slick-arrow{ opacity: 0; position: absolute; z-index: 1; right: 50%; margin-right: -70rem; top: 50%; display: block; width: 6.4rem; height: 6.4rem; border-radius: 50%; border: 2px solid #fff; font-size: 0; background-color: rgba(0,0,0,0.05); transition : all .4s; -webkit-transition : all .4s; transition-delay: 1s; -webkit-transition-delay: 1s; }
#visual .slick-arrow.slick-prev{ margin-top: -15rem; }
#visual .slick-arrow.slick-next{ margin-top: -7rem; }
#visual .slick-arrow.slick-prev:before{ position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); content: ""; font-family: 'xeicon'; display: inline-block; font-size: 2.5rem; color: #fff; }
#visual .slick-arrow.slick-next:before{ position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); content: ""; font-family: 'xeicon'; display: inline-block; font-size: 2.5rem; color: #fff; }
#visual .slick-slide img{ width: 100%; }
.mvisual-btn{ opacity: 0; top: 50%; right: 50%; position: absolute; margin-right: -68.4rem; font-size: 3rem; color: #fff; transition : all .4s; -webkit-transition : all .4s; transition-delay: 1s; -webkit-transition-delay: 1s; }
.mvisual-btn i{ text-shadow: 1px 3px 10px rgba(0,0,0,0.2); }
#visual.on .slick-arrow,
#visual.on .mvisual-btn{ opacity: 1; }

.section{ clear: both; position: relative; text-align: center; }
.section .layout{ width: 140rem; margin: 0 auto; overflow: hidden; text-align: left; }
.section1 .layout{ padding: 10.7rem 0 12rem; }
.section1 .article_tit{ display: block; font-size: 2.5rem; font-weight: 600; line-height: 3.2rem; letter-spacing: -0.15rem; margin-bottom: 1.5rem; color: #5F5F5F; }
#news{ position: relative; float: left; width: 94rem; overflow: hidden; }
/*#news .board{ float: left; width: calc( ( 100% - 72px ) / 3 ); margin-left: 3.6rem; }*/
#news .slick-slide{ padding: 0 1.65rem; }
#news .news_cate{ display: block; font-size: 1.6rem; font-weight: 500; color: #EE1C23; line-height: 3.2rem; margin-bottom: 1.45rem }
#news .news_tit{display: block;border-top: 1px solid rgba(0,0,0,0.2);font-size: 2.1rem; color: #222; line-height: 3rem;letter-spacing: -0.1rem;font-weight: 600;height: 7.5rem;overflow: hidden;padding-top: 1.65rem;margin-bottom: .9rem;word-break: keep-all;}
#news .news_date{ display: block; font-size: 1.4rem; font-weight: 400; line-height: 3.2rem; margin-bottom: 2.5rem; color: #888888; }
#news .news_txt{ font-size: 1.6rem; line-height: 2.6rem; letter-spacing: -0.08rem; color: #393939; height: 8rem; overflow: hidden; }
#news .more{ position: absolute; top: -1rem; right: 0; font-size: 4rem; color: #313131; }
.news_slider{ height: 26.75rem; margin: 0 -1.65rem; }
.news_slider .slick-dots{ position: absolute; top: -4.5rem; right: 8.8rem; z-index: 1; width: auto; }
.news_slider .slick-dots li{ display: inline-block; float: left; margin-left:.2rem; }
.news_slider .slick-dots li button{ display: inline-block; width: 2.1rem; height: 2.1rem; background-size: cover; font-size: 0; }
.news_slider .slick-dots li.slick-active button{background-size: cover; }
#news .news-btn{ position: absolute; top: 8px; right: 52px; }

#popupzone{ position: relative; float: left; width: 38.2rem; margin-left: 7.75rem; }
#popupzone .article_tit{ margin-bottom: 2.8rem; }
.popupzone-slider{ height: 24.7rem; }
.popupzone-slider .slick-slide img{ width: 100%; }
.popupzone-slider .slick-arrow{ position: absolute; top: -5.8rem; right: 0; font-size: 0; line-height: 2.5rem; }
.popupzone-slider .slick-prev{ right: 5rem; }
.popupzone-slider .slick-prev:before{ content: ""; font-family: 'xeicon'; display: inline-block; font-size: 2.4rem; color: #aaa; }
.popupzone-slider .slick-next:before{ content: ""; font-family: 'xeicon'; display: inline-block; font-size: 2.4rem; color: #aaa; }
.popupzone-btn { position: absolute; top: 0; right: 2.8rem; color: #aaa; font-size: 1.8rem; line-height: 3rem; }

#popupzone .pagingInfo{ position: absolute; top: 0; right: 8.7rem; font-size: 1.8rem; font-weight: 500; color:#333333; }
#popupzone .pagingInfo span{ color: #E30A17; }
#popupzone .pagingInfo i{ color: #C7C7C7; padding: 0 .5rem; }

.section2:before{ position: absolute; z-index: -1; bottom: 0; left: 50%; margin-left: -85.6rem; content: ""; display: inline-block; width: 100%; height: 28.2rem; background-color: #E30A17; }
#highlight{ position: relative; padding-left: 46.4rem; padding-bottom: 7.5rem; }
#highlight .article_tit{ position: absolute; top: 0; left: 0; font-size: 5.5rem; font-weight: 900; font-family: 'mtsr'; color: #4B4B4B; text-align: left; line-height: 6rem; }
#highlight .article_tit b{ display: block; width: 13.3rem; height: 8.1rem; background-size: cover; font-size: 0; text-indent: -9999px; }
#highlight ul{ margin-bottom: 7.4rem; }
#highlight ul li{ float: left; width: 29.2rem; height: 36rem; margin-left: 3rem; box-shadow: 0px 6px 6px #00000029; background-color: #efeff1; }
#highlight ul li:first-child{ margin-left: 0; }
#highlight ul li .img_wrap{ display: block; }
#highlight ul li .img_wrap img{ width: 100%; }
#highlight ul li a{ display: block; }
.highlight_tit{ display: block; text-align: center; margin-top: 2.4rem; font-size: 2.3rem; font-weight: 600; color: #fff; line-height: 3.4rem; letter-spacing: -0.04rem; }
#highlight .more{ position: absolute; bottom: 14.7rem; left: 0; width: 6.6rem; height: 6rem;background-size: contain; }
#highlight .more:before{ position: absolute; top: 50%; left: 9rem; content: ""; display: inline-block; width: 13.5rem; height: 1px; background-color: rgba(255,255,255,0.3); }


.section3{}
.section3 .layout{ padding: 8.7rem 0 10.3rem; }
#report{ position: relative; text-align: left; }
#report:before{ position: absolute; top: 5rem; left: 50%; content: ""; display: block; width: 1px; height: 30.5rem; border-left: 1px solid #ddd; }
#report .article_tit{ display: block; font-size: 3rem; font-family: 'mtsr'; font-weight: 900; line-height: 2.3rem; color: #5F5F5F; margin-bottom: 4rem; }
#report ul{ position: relative; overflow: hidden; }
#report ul li{ float: left; width: calc( 50% - 47px ); margin-left: 94px; margin-bottom: 1.7rem; }
#report ul li:nth-child(odd){ margin-left: 0; }
#report ul li a{ position: relative; display: block; padding: .6rem 9rem .6rem 11rem; font-size: 2.1rem; font-weight: 600; line-height: 3.2rem; letter-spacing: -0.1rem; color: #222; text-align: left; white-space: nowrap; word-break: break-all; overflow: hidden; text-overflow: ellipsis; }
#report ul li .cate{ display: block; font-size: 1.6rem; font-weight: 500; margin-bottom: .6rem; line-height: 3.2rem; letter-spacing: -0.08rem; color: #EE1C23; }
#report ul li .date{ position: absolute; top: 0; left: 0; font-size: 1.5rem; line-height: 3.2rem; letter-spacing: -0.1rem; color: #808080; text-align: center; padding: 1rem 1.9rem .6rem; border: 1px solid #D8D8D8; }
#report ul li .date b{ display: block; font-size: 3rem; letter-spacing: -0.2rem; color: #222; }
#report ul li .author{ position: absolute; right: 0; top: 50%; font-size: 1.6rem; font-weight: 500; line-height: 3.4rem; letter-spacing: -0.08rem; color: #959595; }
#report .more{ position: absolute; top: -1rem; right: 0; font-size: 6rem; color: #313131; }
#report .more:before{ position: absolute; top: 50%; left: -15.45rem; content: ""; display: inline-block; width: 13.5rem; height: 1px; background-color: #DDDDDD; transition: all .2s; -webkit-transition: all .2s; }


.section4{background-size: cover; }
.section4 .layout{ position: relative; padding: 7.4rem 7.6rem 10rem 8.6rem; }
.section4 .en_tit{ display: block; width: 26rem; height: 2.2rem; background-size: contain; font-size: 0; margin-bottom: 2rem; }
.section4 .article_tit{ float: left; display: inline-block; font-size: 11.5rem; font-family: 'mtsr'; font-weight: 900; color: #fff; line-height: 6.5rem; }
.section4 .article_tit .line{ display: inline-block; font-size: 0; width: 25.3rem; height: 6.7rem; margin-right: 1.5rem; background-size: contain; vertical-align: middle; }
.section4 .article_tit:after{ position: absolute; top: 50%; left: 63rem; content: ""; display: inline-block; width: calc( 100% - 110rem ); height: 1px; background-color: #fff; opacity: 0.4; }
.section4 .article_txt{ position: relative; float: right; display: inline-block; font-family: 'nfk'; font-size: 2.3rem; font-weight: 100; line-height: 3.2rem; letter-spacing: -0.23rem; color: #fff; }
.section4 .article_txt:after{ position: absolute; top: 50%; margin-top: -.8rem; right: -2rem; content: ""; display: inline-block; width: 20px; height: 20px;  background-position: 0 0; -webkit-animation: fave 1s steps(13); animation: fave 1s steps(13); animation-iteration-count: infinite; background-position: -260px 0; -webkit-transition: background 1s steps(13); transition: background 1s steps(13); animation-duration: 2.2s; animation-fill-mode: forwards;}

@-webkit-keyframes fave{
0% { background-position:0 0 }
100% { background-position:-260px 0; }
}

@keyframes fave{
0% { background-position:0 0 }
100% { background-position:-260px 0 }
}

.section5{  background-size: cover; }
.section5 .layout{ position: relative; text-align: left; padding: 14.5rem 0 10.4rem; }
.section5 .text_wrap{ position: absolute; top: 10.5rem; left: 0; }
.section5 .article_tit{ display: block; font-size: 3rem; line-height:  3rem; letter-spacing: -0.15rem; color: #5F5F5F; margin-bottom: 3.7rem; }
.section5 .article_txt{ font-family: 'nfk'; font-size: 4.6rem; line-height: 6.2rem; letter-spacing: -0.46rem; color: #434343; }
.section5 .link_wrap{}
.section5 .link_wrap .col_box{ float: left; margin-left: 2rem; }
.section5 .link_wrap .col_box.box1{ width: 27.3rem; margin-left: 0; padding-top: 31.6rem; }
.section5 .link_wrap .col_box.box2{ width: 28.3rem; padding-top: 36.1rem; }
.section5 .link_wrap .col_box.box3{ width: 42.3rem; }
.section5 .link_wrap .col_box.box4{ width: 35.5rem; padding-top: 12rem; }
.section5 .link_wrap .col_box .img_wrap{ overflow: hidden; }
.section5 .link_wrap .col_box.box1 .img_wrap{ height: 26.3rem; }
.section5 .link_wrap .col_box.box2 .img_wrap{ height: 26.5rem; }
.section5 .link_wrap .col_box.box3 .img_wrap{ height: 53.3rem; }
.section5 .link_wrap .col_box.box4 .img_wrap.iw1{ height: 16.7rem; }
.section5 .link_wrap .col_box.box4 .img_wrap.iw2{ height: 23rem; margin-top: 1.8rem; }
.section5 .link_wrap .col_box.box1 .img_wrap a{  background-size: cover; }
.section5 .link_wrap .col_box.box2 .img_wrap a{  background-size: cover; }
.section5 .link_wrap .col_box.box3 .img_wrap a{ background-size: cover; }
.section5 .link_wrap .col_box.box4 .img_wrap.iw1 a{ background-size: cover; }
.section5 .link_wrap .col_box.box4 .img_wrap.iw2 a{  background-size: cover; }
.section5 .link_wrap .col_box .img_wrap a{ position: relative; display: block; width: 100%; height: 100%; padding: 3rem; }
.section5 .link_wrap .col_box .img_wrap a:after{ position: absolute; content: ""; display: inline-block; width: 6.2rem; height: 1.6rem; background-size: contain; }
.section5 .link_wrap .col_box .img_wrap a:before{ opacity: 0; position: absolute; bottom: -100%; left: 0; z-index: 0; content: ""; display: block; width: 100%; height: 100%; background: rgb(0,0,0); background: -moz-linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(25,25,25,1) 100%); background: -webkit-linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(25,25,25,1) 100%); background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(25,25,25,1) 100%); transition: all .4s; -webkit-transition: all .4s; }
.section5 .link_wrap .col_box .img_wrap a:hover:before,
.section5 .link_wrap .col_box .img_wrap a:focus:before{ opacity: 1; bottom: 0; }
.section5 .link_wrap .col_box.box1 .img_wrap a:after{ bottom: 3rem; left: 3rem; }
.section5 .link_wrap .col_box.box2 .img_wrap a:after{ bottom: 3rem; right: 3rem; }
.section5 .link_wrap .col_box.box3 .img_wrap a:after{ bottom: 3rem; left: 26rem; }
.section5 .link_wrap .col_box.box4 .img_wrap.iw1 a:after{ bottom: 3rem; right: 3rem; }
.section5 .link_wrap .col_box.box4 .img_wrap.iw2 a:after{ display: none; }
.section5 .link_wrap .col_box.box4 .img_wrap.iw1{ width: 24.8rem; }
.section5 .link_wrap .col_box .img_wrap a span{ display: inline-block; font-size: 2.7rem; font-weight: 600; color: #fff; line-height: 2.8rem; letter-spacing: -0.2rem; }
.section5 .link_wrap .col_box.box1 .img_wrap a span{ writing-mode: vertical-rl; line-height: 1; letter-spacing: 0.2rem; }
.section5 .link_wrap .col_box.box3 .img_wrap a span{ position: absolute; left: 3rem; bottom: 3rem; font-size: 2.9rem; }
.section5 .link_wrap .col_box.box4 .img_wrap.iw2 a span{ position: absolute; left: 3rem; bottom: 3rem; }
.section5 .link_wrap .col_box.box5 .img_wrap a span{ position: absolute; left: 3rem; bottom: 3rem; }


.section6{ background: #D81A26; }
.section6 .typing_wrap { text-align: center; padding: 6rem 0; border-bottom: 1px solid rgba(255,255,255,0.3); }
.section6 .typing_wrap .inner{ position: relative; display: inline-block; }
.section6 .typing_wrap .inner:before{ position: absolute; left: -9.6rem; top: 1rem; content: ""; display: inline-block; width: 1.4rem; height: 4.7rem;  background-size: contain; }
.section6 .typing_wrap .inner:after{ position: absolute; right: -9.6rem; top: 1rem; content: ""; display: inline-block; width: 1.4rem; height: 4.7rem;  background-size: contain; transform: rotate( -180deg); -webkit-transform: rotate( -180deg); }
.section6 .typing{ opacity: 0; width: 0; height: 6.7rem; font-family: 'nfk'; font-weight: 300; font-size: 3.2rem; line-height: 6.7rem; letter-spacing: -0.224rem; color: #fff; vertical-align: middle; overflow: hidden;}
.section6 .typing.on{ width: auto; display: table-cell; }
.section6 .link_wrap{ display: inline-block; width: 140rem; margin: 0 auto; padding: 3.8rem 7.2rem; }
.section6 .link_wrap li{ float: left; margin-left: 4rem; }
.section6 .link_wrap li:first-child{ margin-left: 0; }
.section6 .link_wrap li a{ display: block; color: #fff; font-size: 1.8rem; letter-spacing: 0.05rem; }
.section6 .link_wrap li .icon{ display: inline-block; vertical-align: middle; margin-right: .5rem; }

/* 비주얼 요소 */

.section1 .bg_txt{ position: absolute; z-index: 1; top: -20.6rem; right: 4px; }
.section2 .bg_txt{ position: absolute; z-index: 1; top: 6rem; left: -5.3rem; }
.section4 .bg_txt{ position: absolute; z-index: 1; top: 16rem; left: 8rem; }
.section5 .bg_txt{ position: absolute; z-index: 1; bottom: 13.5rem; left: 50%; margin-left: 65.5rem; }
.bg_txt .txt_a { stroke-width: 1.5px; fill: transparent; stroke: transparent; }
.bg_txt .txt_u { stroke-width: 1.5px; fill: transparent; stroke: transparent; }
.bg_txt .txt_r { stroke-width: 1.5px; fill: transparent; stroke: transparent; }
.bg_txt .txt_i { stroke-width: 1.5px; fill: transparent; stroke: transparent; }
.bg_txt.on .txt_a { stroke-dasharray: 1300; stroke-dashoffset: 1300; -webkit-animation: ani_a 2s alternate forwards; animation: ani_a 2s alternate forwards; stroke-width: 1.5px; fill: transparent; stroke: #e30a17; }

@-webkit-keyframes ani_a {
  0% {
    stroke-dashoffset: 1300;
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 0;
    fill: #e30a17;
  }
}

@keyframes ani_a {
  0% {
    stroke-dashoffset: 1300;
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 0;
    fill: #e30a17;
  }
}

.bg_txt.on .txt_u { stroke-dasharray: 1500; stroke-dashoffset: 1500; -webkit-animation: ani_u 2s alternate forwards; animation: ani_u 2s alternate forwards; stroke-width: 1.5px; fill: transparent; stroke: #e0e0e0; }

@-webkit-keyframes ani_u {
  0% {
    stroke-dashoffset: 1500;
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 0;
    fill: #e0e0e0;
  }
}

@keyframes ani_u {
  0% {
    stroke-dashoffset: 1500;
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 0;
    fill: #e0e0e0;
  }
}

.bg_txt.on .txt_r { stroke-dasharray: 900; stroke-dashoffset: 900; -webkit-animation: ani_r 2s alternate forwards; animation: ani_r 2s alternate forwards; stroke-width: 1.5px; fill: transparent; stroke: #e30a17; }

@-webkit-keyframes ani_r {
  0% {
    stroke-dashoffset: 900;
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 0;
    fill: #e30a17;
  }
}

@keyframes ani_r {
  0% {
    stroke-dashoffset: 900;
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 0;
    fill: #e30a17;
  }
}

.bg_txt.on .txt_i { stroke-dasharray: 525; stroke-dashoffset: 525; -webkit-animation: ani_i 2s alternate forwards; animation: ani_i 2s alternate forwards; stroke-width: 1.5px; fill: transparent; stroke: #e30a17; }

@-webkit-keyframes ani_i {
  0% {
    stroke-dashoffset: 525;
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 0;
    fill: #e30a17;
  }
}

@keyframes ani_i {
  0% {
    stroke-dashoffset: 525;
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 0;
    fill: #e30a17;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .section1 .bg_txt{ right: 4rem; width: 25.5rem; height:27.4rem;  background-size: contain; }
  .section2 .bg_txt{ left: -5.3rem; width: 17.6rem; height:24.7rem;  background-size: contain; }
  .section4 .bg_txt{ width: 18rem; height:29.2rem;  background-size: contain; }
  .section5 .bg_txt{ width: 25.5rem; height:27.4rem;  background-size: contain; }
} 

@media(max-width: 1799px){
  .section2:before{ left: auto; right: 0; margin-left: 0; width: calc( 100% - 104px ); }
  .section2 .bg_txt{ left: 50%; margin-left: -95rem; }
  .section4 .bg_txt{ left: 50%; margin-left: -80rem; }
}

@media(max-width: 1699px){
  .bg_txt { display: none; }
}

@media(max-width: 1539px){
  .section5 .link_wrap .col_box{ margin-left: 1.6%; }
  #visual .layout{ width: 100%; padding: 4rem; }
  #visual .slick-arrow{ right: 8rem; margin-right: 0; }
  .mvisual-btn{ right: 8rem; margin-right: 1.8rem; }
  .section2:before{ width: 97%; }
  .section .layout{ width: 100%; padding-left: 4rem; padding-right: 4rem; }
  .section1 .layout{ padding-right: 45rem; }
  #news{ width: 100%; }
  #popupzone{ position: absolute; top: 10.7rem; right: 4rem; margin-left: 0; }
  #highlight{ padding-left: 36rem; }
  #highlight ul li{ width: 32%; height: 0; padding-bottom: 39.5%; margin-left: 2%; }
  .section5 .text_wrap{ left: 4rem; }
  .section5 .link_wrap{ width: 100%; }
  .section5 .link_wrap .col_box.box1,
  .section5 .link_wrap .col_box.box2{ width: 20%; }
  .section5 .link_wrap .col_box.box3{ width: 30%; }
  .section5 .link_wrap .col_box.box4{ width: 24%; }
  .section6 .link_wrap{ width: 100%; padding: 3.8rem 5rem;}
  .section6 .link_wrap li{ margin-left: 2rem; }
}

@media(max-width: 1279px){
  #header,
  #header.fixed{ position: relative; }
  #visual .desc strong{ font-size: 4rem; line-height: 6rem; }
  .main_wrap{ padding-top: 0; }
  #header #hnb .lang a, 
  #header #hnb .lang a { color: #A0A0A0; }
  #hnb .lang a:first-child:after{ background-color: #A0A0A0; }
}

@media(max-width: 1023px){
  .section1 { margin-bottom: 4rem; }
  .section1 .layout{ padding: 4rem 2rem; }
  .news_slider .slick-dots{ top: -4.2rem; right: 9rem; }
  #news{ float: none; margin-bottom: 4rem; }
  #popupzone{ position: static; width: 100%; }
  .popupzone-slider{ height: auto; }
  #highlight { padding-bottom: 0; padding-left: 0; }
  #highlight .article_tit{ position: static; margin-bottom: 2rem; }
  #highlight .article_tit b{ color: #fff; font-size: 5.5rem; width: auto; height: auto; background: none; text-indent: 0;}
  #highlight .more{ bottom: auto; top: 0; left: auto; right: 0; }
  #highlight .more:before{ display: none; }
  .section2{ background-color: #E30A17; }
  #news .more:before,
  .section2:before,
  #report .more:before { display: none; }
  .section2 .layout{ padding: 2rem; }
  .section5 .text_wrap{ position: static; margin-bottom: 4rem; }
  .section5 .article_txt{ font-size: 3.5rem; line-height: 5rem; }
  .section5 .link_wrap .col_box{ margin-left: 2%; }
  .section5 .link_wrap .col_box.box1,
  .section5 .link_wrap .col_box.box2,
  .section5 .link_wrap .col_box.box3{ width: 18.4%; padding: 0; }
  .section5 .link_wrap .col_box.box4{ width: 38.8%; padding: 0; }
  .section5 .link_wrap .col_box.box4 .img_wrap.iw1{ float: left; width: 47.5%; }
  .section5 .link_wrap .col_box.box4 .img_wrap.iw2{ float: left; width: 47.5%; height: 24rem; margin-top: 0; margin-left: 5%; }
  .section5 .link_wrap .col_box.box1 .img_wrap,
  .section5 .link_wrap .col_box.box2 .img_wrap,
  .section5 .link_wrap .col_box.box3 .img_wrap,
  .section5 .link_wrap .col_box.box4 .img_wrap,
  .section5 .link_wrap .col_box.box4 .img_wrap.iw1{ height: 24rem; }
  .section5 .link_wrap .col_box .img_wrap a span{ font-size: 2rem; letter-spacing: 0; }
  .section5 .link_wrap .col_box.box1 .img_wrap a span{ writing-mode: inherit; letter-spacing: 0; }
  .section5 .link_wrap .col_box.box3 .img_wrap a span,
  .section5 .link_wrap .col_box.box4 .img_wrap.iw2 a span{ position: static; font-size: 2rem; }
  .section5 .link_wrap .col_box.box4 .img_wrap.iw2 a:after{ display: inline-block; bottom: 3rem; right: 3rem; }
}

@media(max-width: 767px){
  #visual .layout{ padding: 2rem; margin-top: -10rem; }
  #visual .desc{ padding-left: 2rem; }
  #visual .desc strong { font-size: 3rem; line-height: 4rem; letter-spacing: -0.1rem; }
  #visual .slick-arrow{ width: 4rem; height: 4rem; }
  #visual .slick-arrow.slick-prev:before{ font-size: 2rem; }
  #visual .slick-arrow.slick-prev { margin-top: -8rem; }
  #visual .slick-arrow.slick-next { margin-top: -3rem; }
  .mvisual-btn{ top: 53%;right: 8.5rem; margin-right: 0; }
  #news .board{ width: 100%; margin-left: 0; }
  .news_slider .slick-dots{ right: 9.5rem; }
  #highlight .article_tit,
  #highlight .article_tit b{ font-size: 3.5rem; line-height: 4rem; }
  .highlight_tit{ font-size: 2rem; }
  .section .layout{ padding: 4rem 2rem; }
  #report ul li{ float: none; width: 100%; margin-left: 0; }
  #report:before{ display: none; }
  #report ul li .date{ padding: .8rem 1.9rem .6rem; }
  .section4 .article_tit{ float: none; display: block; margin-bottom: 2rem; font-size: 5rem; }
  .section4 .article_tit .line{ width: 10rem; height: 3rem; margin-right: 1rem; }
  .section4 .article_txt{ float: none; }
  .section5 .article_txt { font-size: 2.5rem; line-height: 3.5rem; letter-spacing: -0.2rem; }
  .section5 .link_wrap .col_box.box1, 
  .section5 .link_wrap .col_box.box2, 
  .section5 .link_wrap .col_box.box3{ width: 32%; }
  .section5 .link_wrap .col_box.box4{ width: 100%; margin-left: 0; margin-top: 2rem; }
  .section5 .link_wrap .col_box.box4 .img_wrap.iw1,
  .section5 .link_wrap .col_box.box4 .img_wrap.iw2{ width: 32%; }
  .section5 .link_wrap .col_box.box4 .img_wrap.iw2{ margin-left: 2%; }
  .section6 .typing_wrap .inner:before{ left: -2rem; }
  .section6 .typing_wrap .inner:after{ right: -2rem; }
  .section6 .typing{ font-size: 2.5rem; letter-spacing: -0.2rem; }
  .section6 .link_wrap{ padding: 2rem; }
  .section6 .link_wrap li{ width: 48%; margin-left: 2rem; margin-bottom: 2rem; text-align: left; }
  .section6 .link_wrap li:nth-child(2n+1){ margin-left: 0; }
  .section6 .link_wrap li:last-child{ margin-bottom: 0; }
}

@media(max-width: 479px){
  #visual .desc strong { font-size: 2rem; line-height: 3rem; }
  .section5 .link_wrap .col_box.box1, 
  .section5 .link_wrap .col_box.box2{ width: 49%; } 
  .section5 .link_wrap .col_box.box3{ width: 100%; }
  .section5 .link_wrap .col_box.box4 .img_wrap.iw1, 
  .section5 .link_wrap .col_box.box4 .img_wrap.iw2{ width: 49%; }
  .section5 .link_wrap .col_box.box3{ margin-left: 0; margin-top: 1rem; }
  .section5 .link_wrap .col_box.box4{ margin-top: 1rem; }
  .section6 .typing{ font-size: 2rem; }
  .section6 .link_wrap li{ width: 100%; margin-left: 0; }
  .mvisual-btn{ display: none; }
}